* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

.page-upper {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.page-lower {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.game {
  display: grid;
  gap: 10px;
}

header {
  display: grid;
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.letter {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 2px solid #d3d6da;
  border-radius: 10px;
  font-family: monospace;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.disabled {
  border: 2px solid #878a8c;
}

.non-exist,
.exist,
.exact {
  color: white;
}

.non-exist {
  background-color: #787c7e;
  border-color: #787c7e;
}

.exist {
  background-color: #c9b458;
  border-color: #c9b458;
}

.exact {
  background-color: #6aaa64;
  border-color: #6aaa64;
}

.answer {
  color: #6aaa64;
}

/* animation */
.spin {
  animation: spin 1s infinite;
}

.shake {
  animation: shake 0.5s;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

/* bonus */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard-line {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 30px;
  height: 30px;
  border: none;
  font-family: monospace;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.large {
  width: 55px;
  font-weight: normal;
}

.backspace {
  font-size: 35px;
  padding-bottom: 5px;
}

.enter {
  font-size: 15px;
}

/* not the screen width */
@media (max-width: 400px) {
  header {
    font-size: 45px;
  }

  .letter {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 8px;
    font-size: 35px;
  }

  button {
    width: 25px;
    height: 25px;
    font-size: 17px;
  }
}
