* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

.page-upper {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.page-lower {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.game {
  display: grid;
  gap: 10px;
  max-width: 400px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88.5px;
  font-family: 'Pacifico', monospace;
  font-size: 50px;
  margin: 10px 0;
}

.line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.letter {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 50px; */
  /* text-align: center; */

  border: 2px solid #d3d6da;
  border-radius: 10px;
  font-family: monospace;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.disabled {
  border: 2px solid #878a8c;
}

.correct,
.close,
.wrong {
  color: white;
}

.correct {
  background-color: #6aaa64;
  border-color: #6aaa64;
}

.close {
  background-color: #c9b458;
  border-color: #c9b458;
}

.wrong {
  background-color: #787c7e;
  border-color: #787c7e;
}

.win {
  font-family: monospace;
}

.answer {
  color: #6aaa64;
}

/* animation */
.spin {
  animation: spin 1s infinite;
}

.shake {
  animation: shake 0.5s;
}

.bounce {
  animation: bounce 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-18px);
  }
  60% {
    transform: translateY(-9px);
  }
}

/* keyboard */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
}

.keyboard-line {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 30px;
  height: 30px;
  border: none;
  font-family: monospace;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.large {
  width: 55px;
  font-weight: normal;
}

.backspace {
  font-size: 35px;
  padding-bottom: 5px;
}

.enter {
  font-size: 15px;
}

/* error */
.refresh {
  cursor: pointer;
}

/* the max-width 0f 'keyboard' section */
@media (max-width: 400px) {
  header {
    height: 79.5px;
    font-size: 45px;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-16px);
    }
    60% {
      transform: translateY(-8px);
    }
  }

  .letter {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 8px;
    font-size: 35px;
  }

  button {
    width: 25px;
    height: 25px;
    font-size: 17px;
  }
}
